* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contaner1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-contaner1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alltext1 {
    width: 500px;
}

.box-left1 {
    display: flex;
    justify-content: center;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header p {
    color: #555;
}

.headertype1 {
    text-align: center;
    margin: 40px 0;
}

.logcss1 {
    background-color: #fff;
    border-radius: 15px;
    padding: 24px;
    box-shadow: 0 0 10px #eee;
}

.buttons button {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 18px;
}

.otp-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.otp-input {
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}