* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.contaner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}

.login-contaner0 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.alltext10 {

    width: 500px;

}

.image-right10 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
}

.box-left10 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-box10 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.headertype10 {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin-top: 20%;
}

.headertype10 h4 {
    color: #555;
    font-size: 20px;
}

.logcss10 {
    font-family: sans-serif;
    background-color: #FFFFFF1A;
    border-radius: 15px;
    padding: 24px;
    box-shadow: 1px 1px 5px 5px #f4eeee;
    width: 100%;
    margin: 10px;
}


.buttons10 button {

    font-size: x-large;
    width: 100%;
    height: 50px;
    margin: 8px 0;
    padding: 8px;
    background-color: #000000;
    color: white;
    border: 0px;
    border-radius: 15px;
    transition: 0.3s;
}

.buttons10 button:disabled {
    pointer-events: none;
    opacity: 0.60;
}

.header10 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
    font-size: 20px;
}


.Signup10 {
    font-family: sans-serif;
    color: #0a0808;

    margin: 5px;
}

@media(max-width: 768px) {
    .login-contaner0 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alltext10 {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .image-box10 {
        width: 100%;
        height: 200px;
        margin: 20px 0;
    }

    .image-right10 {
        margin: 20px 0;
    }
}