* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.login-contaner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;

}

.alltext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 500px;


}

.box-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box {
    width: 400px;
    height: 300px;
}

.headertype {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin-top: 10%;
}

.headertype h4 {
    color: #555;
    font-size: 20px;
}

.logcss {
    font-family: sans-serif;
    background-color: #FFFFFF1A;
    border-radius: 15px;
    padding: 24px;
    box-shadow: 1px 1px 5px 5px #f4eeee;
    width: 100%;
}

.buttons {
    margin: 5px;
}

.remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
    border: none;
}


.buttons button {

    font-size: x-large;
    width: 100%;
    height: 50px;
    margin: 8px 0;
    padding: 8px;
    background-color: #000000;
    color: white;
    border: 0px;
    border-radius: 15px;
    transition: 0.3s;
}

.buttons button:disabled {
    pointer-events: none;
    opacity: 0.60;
}

.mylink {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.Links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Links {
    font-size: 14px;
    color: #0a0808;
    text-decoration: underline;
}

.Signup1 {
    margin: 10px;
}

.Signup {
    color: #0a0808;
    text-decoration: underline;
    margin: 5px;
}